<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA</title>
    </head>
    <body>
        <div id="body">
            <h1>Translation Process Automation</h1>
            <p><a href="/jobs">Jobs</a>: List of TPA jobs and status.</p>
            <p><a href="/logs">Logs</a>: Logs from jobs execution.</p>
            <p>Transifex resource slugs: List of Transifex resource slugs.</p>
        </div>
    </body>
</html>
                                       
