{# Displays Translation Process Automation Management Consloe index page.   #}
{# Expecting parameters                                                     #}
{#  (no parameters)                                                         #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA</title>
    </head>
    <body>
        <div id="body">
            <h1>Translation Process Automation Management Console</h1>
            <p><font color="red">### Very Work In Progress ###</font></p>
            <h2>Automation</h2>
            <p>
            <table id="logs">
                <tr><th>Configurations</th><td>Global Settings</td><td>Job Configuration</td><td><a href="/resource_configs">Resource Configurations</a></td><td>Translation Configurations</td></tr>
                <tr><th>Jobs - Active</th><td><a href="/active_jobs">All Listings</a></td><td>Auxiliary Jobs</td><td>Resource Uploaders</td><td>Translation Uploaders</td></tr>
                <tr><th>Jobs - Suspended</th><td><a href="/suspended_jobs">All Listings</a></td><td>Auxiliary Jobs</td><td>Resource Uploaders</td><td>Translation Uploaders</td></tr>
                <tr><th>Logs</th><td><a href="/logs">All Listings</a></td><td>Auxiliary Jobs</td><td>Resource Uploaders</td><td>Translation Uploaders</td></tr>
            </table>
            </p>
            <hr>
            <h2>Repositories</h2>
            <p>
            <table id="logs">
                <tr><th>Resource Repositories</th><th>Translation Repositories</th></tr>
                <tr><td>Bitbucket</td><td>Crowdin</td></tr>
                <tr><td>Github</td><td>Transifex [<a href="/transifex_projects">Projects</a>]</td></tr>
            </table>
            </p>
        </div>
    </body>
</html>
                                       
