<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA LOG Details</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>] | [<a href="/jobs">jobs</a>]
            <h1>TPA Log Details</h1>
            <h2>Error</h2>
            <pre>
            {% for line in errlines %}
                {{line}}
            {% end %}
            </pre> 
            <h2>Info</h2>
            <pre>
            {% for line in infolines %}
                {{line}}
            {% end %}
            </pre> 
        </div>
    </body>
</html>
                                       
