<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA Logs</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>]
            <h1>Logs</h1>
            <h2>Resource Uploader Logs</h2>
            <p>
            <table id="logs">
                <tr><th>Datetime</th><th>Config</th><th>Status</th></tr>
                {% for entry in ru_entries %}
                    {% set param = urllib.quote(entry.log_dir, safe='') %}
                    {% if entry.err_size <= 0 %}
                        <tr><td>{{entry.datetime}}</td><td>{{entry.config_name}}</td><td><a href="/log/{{param}}">Info</a></td></tr>
                    {% else %}
                        <tr><td>{{entry.datetime}}</td><td>{{entry.config_name}}</td><td><a href="/log/{{param}}">Error + Info</a></td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
            <hr>
            <h2>Translation Uploader Logs</h2>
            <p>
            <table id="logs">
                <tr><th>Datetime</th><th>Config</th><th>Log</th></tr>
                {% for entry in tu_entries %}
                    {% set param = urllib.quote(entry.log_dir, safe='') %}
                    {% if entry.err_size <= 0 %}
                        <tr><td>{{entry.datetime}}</td><td>{{entry.config_name}}</td><td><a href="/log/{{param}}">Info</a></td></tr>
                    {% else %}
                        <tr><td>{{entry.datetime}}</td><td>{{entry.config_name}}</td><td><a href="/log/{{param}}">Error + Info</a></td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
