<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA Slugs</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>] | [<a href="/jobs">jobs</a>]
            <h1>TPA Slugs</h1>
            <h2>{{resource_config_filename}}</h2>

            <p>
            <b>
            Note:<br>
            <img src='../static/ic_error_black_24dp_1x.png'> Missing slug in Translation platform.
            </b>
            </p>

            <h3>Project</h3>
            <table id="logs">
                <tr><th>Translation Platform</th><th>Slug</th><th>Name</th></tr>
                {% if stats and translation_slugs['project_slug'] == stats['project_slug'] %}
                    <tr><td>{{translation_slugs['platform']}}</td><td>{{translation_slugs['project_slug']}}</td><td>{{stats['project_name']}}</td></tr>
                {% else %}
                    <tr><td>{{translation_slugs['platform']}}</td><td><img src='../static/ic_error_black_24dp_1x.png'> {{translation_slugs['project_slug']}}</td><td></td></tr>
                {% end %}
            </table>
            <br/>

            <h3>Resources</h3>
            <table id="logs">
                <tr><th>Path in Resource Repository</th><th>Slug</th><th>Name</th></tr>
                {% for key in resource_slugs %}
                    {% if resource_slugs[key] in stats %}
                        <tr><td>{{key}}</td><td>{{resource_slugs[key]}}</td><td>{{stats[resource_slugs[key]]}}</td></tr>
                    {% else %}
                        <tr><td>{{key}}</td><td><img src='../static/ic_error_black_24dp_1x.png'> {{resource_slugs[key]}}</td><td></td></tr>
                    {% end %}
                {% end %}
            </table>
        </div>
    </body>
</html>
                                       
