{# Displays list of resource configuration files summary #}
{# Expecting parameters#}
{#   configs: List of ResourceConfigurationFile tuple, or empty list. #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>Resource Configurations</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>]
            <h1>Resource Configurations</h1>
            <table id="logs">
                <tr><th>Name</th><th>Platform</th><th>Repository</th><th>Branch</th><th># of Resources</th><th>Job Status</th></tr>
                {% for config in configs %}
                    {% set param = urllib.quote(config.filename, safe='') %}
                    {% if config.parsed %}
                    <tr><td><a href="/resource_config/{{param}}">{{config.filename}}</a></td><td>{{config.repository_platform}}</td><td>{{config.repository_name}}</td><td>{{config.repository_branch}}</td><td>{{config.repository_resource_len}}</td><td>{{config.job_status}}</td></tr>
                    {% else %}
                    <tr><td><img src='../static/ic_error_black_24dp_1x.png'>{{config.filename}}</td><td>{{config.repository_platform}}</td><td>{{config.repository_name}}</td><td>{{config.repository_branch}}</td><td>{{config.repository_resource_len}}</td><td>{{config.job_status}}</dt></tr>
                    {% end %}
                {% end %}
            </table>
        </div>
    </body>
</html>
                                       
