<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{static_url("css/tpa.css")}}" rel="stylesheet" type="text/css">
        <title>Translation Projects</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>]
            <h1>Translation Projects</h1>
            <h2>Crowedin Projects</h2>
            <p>
            <table id="logs">
                <tr><th>Name</th><th>Description</th></tr>
                {% if crowdin_projects %}
                    <tr><td></td><td></td></tr>
                {% end %}
            </table>
            </p>
            <h2>Transifex Projects</h2>
            <!-- TODO:  add 'Clear cached data' checkbox -->
            <p>
            <table id="logs">
                <tr><th>Name</th><th>Description</th></tr>
                {% if transifex_projects %}
                    {% for p in transifex_projects %}
                        {% set s = 'transifex:{}'.format(p['slug']) %}
                        {% set param = urllib.quote(s, safe='') %}
                        <tr><td><a href="/transproject/{{param}}">{{p['name']}}</a></td><td>{{p['description']}}</td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
