<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>Resource</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>] | [<a href="/transprojects">projects</a>]
            {% if strings %}
                <h1>{{resource_name}} Resouce ({{project_name}} Project)</h1>
                <p>Cached: MM-DD-YYYY<p>
                <p>
                <table id="logs">
                    <tr><th></th><th>Inst</th><th>Tags</th><th>Key</th><th>Value</th></tr>
                    {% for s in strings %}
                        <tr><td></td><td>{{s['comment']}}</td><td>{{s['tags']}}</td><td>{{s['key']}}</td><td>{{s['source_string']}}</td></tr>
                    {% end %}
                </table>
                </p>
            {% else %}
                <p>No resource data supplied.</p>
                <p>
                <table id="logs">
                    <tr><th>R/T</th><th>Inst</th><th>Tags</th><th>Key</th><th>Value</th></tr>
                </table>
                </p>
            {% end %}
        </div>
    </body>
</html>
                                       
