{# Displays all string information in a Transiefx resource.                             #}
{# Expecting parameters                                                                 #}
{#  strings: List of dictioraries. Each dictionary represents a sting.                  #}
{#           Or empty list.                                                             #}
{#      {                                                                               #}
{#      'source': TransifexSourceStringDetails tuple, (None is not expected)            #}
{#      'translation': TransifexTranslationStringDetails tuple (None is not expected)   #}
{#      }                                                                               #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>Resource</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>] | [<a href="/transifex_projects">transifex projects</a>]
            <h1>Transifex Resource</h1>
            <p>
            <table id="logs">
                <tr><th>Project Name</th><td>{{project_name}}</td></tr>
                <tr><th>Resource Name</th><td>{{resource_name}}</td></tr>
            </table>
            </p>
            <p>
            {# Cached: MM-DD-YYYY       TODO add Rebuild Cache button here #}
            <table id="logs">
                <tr><th>Key</th><th>Source</th><th>Tags</th><th>Comment</th></tr>
                {% for s in strings %}
                    {% set r = s['source'] %}
                    {% set t = s['translation'] %} 
                    {% if r %}
                        <tr><td>{{t.key}}</td><td>{{t.source}}</td><td>{{r.tags}}</td><td>{{r.comment}}</td></tr>
                    {% else %}
                        <tr><td><td>{{t.key}}</td><td>{{t.source}}</td><td>N/A</td><td>N/A</td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
