{# Displays projects in Transiefx.                                                      #}
{# Expecting parameters                                                                 #}
{#  projects: A list of TransifexProject tuple, or empty list (None is not expected).   #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{static_url("css/tpa.css")}}" rel="stylesheet" type="text/css">
        <title>Transifex Projects</title>
    </head>
    <body>
        <div id="body">
            [<a href="/">index</a>]
            <h1>Transifex Projects</h1>
                <table id="logs">
                    <tr><th>Name</th><th>Description</th></tr>
                    {% for project in projects %}
                        {% set s = 'transifex:{}'.format(project.slug) %}
                        {% set param = urllib.quote(s, safe='') %}
                        <tr><td><a href="/transifex_project/{{param}}">{{project.name}}</a></td><td>{{project.description}}</td></tr>
                    {% end %}
                </table>
        </div>
    </body>
</html>
                                       
