{# Displays fatal error message     #}
{# Expecting parameters             #}
{#  summary: Summary of the error.  #}
{#  details: Error in detail.       #} 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA Project Management Console</title>
    </head>
    <body>
        <div id="body">
            <p>
            <table id="logs">
                <tr><td><img src="../static/cancel_24dp.png"></td><td><font color="red">{{summary}}</font></td></tr>
            </table>
            </p>
            <p>
            <table id="logs">
                <tr><td>{{details}}</td></tr>
            </table>
            </p>
        </div>
    </body>
</html>
                                       
