{# Displays Translation Process Automation Developers Consloe job details page. #}
{# Expecting parameters                                                         #}
{#      data #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA Project Management Console</title>
    </head>
    <body>
        {% set resource_platform_name = 'ResourcePlatformName' %}
        {% set translation_platform_name = 'TranslationPlatformName' %}
        <div id="body">
            <h1>Project Managment Console</h1>
                <p>
                <table id="logs">
                    <tr><th>Project Name</th><td>{{data['project_name']}}</td></tr>
                    <tr><th>Project Description</th><td>{{data['project_description']}}</td></tr>
                    <tr><th>Project Status</th><td>{{data['project_status']}}</td></tr>
                </table>
                </p>
            <h2>Sync Status</h2>
                <p>
                <table id="logs">
                    <tr><th>Sync Destination</th><th>Status</th><th>Schedule</th><th colspan="2">Last Occurrence</th></tr>
                    {% for sync in data['job_syncs'] %}
                        {# RU #}
                        {% if sync['job_class_name'] == 'ResourceUploaderJob' %}
                        <tr><td>{{data['resources']['translation_project']}} ({{data['resources']['translation_platform']}})</td><td>{{sync['job_status']}}</a></td><td>{{sync['job_cron_string']}}<td>{{sync['sync_date']}}</td>
                            <td>
                            <form id="exec_job" action="/exec/{{data['project_id']}}/{{sync['job_id']}}" method="post">
                            <input type="hidden" name="job_id" value={{sync['job_id']}}>
                            <input type="submit" value="Sync Resource Now">
                            </form>
                            </td>
                            </tr>
                        {# TU #}
                        {% elif sync['job_class_name'] == 'TranslationUploaderJob' %}
                            {% if sync['sync_url'] and sync['sync_id'] and sync['sync_state'] %}
                        <tr><td>{{data['resources']['resource_repository_name']}} ({{data['resources']['resource_repository_platform']}})</td><td>{{sync['job_status']}}</td><td>{{sync['job_cron_string']}}<td>{{sync['sync_date']}} <a href="{{sync['sync_url']}}">Pull Request #{{sync['sync_id']}} ({{sync['sync_state']}})</a></td>
                            <td>
                            <form id="exec_job" action="/exec/{{data['project_id']}}/{{sync['job_id']}}" method="post">
                            <input type="hidden" name="job_id" value={{sync['job_id']}}>
                            <input type="submit" value="Sync Translation Now">
                            </form>
                            </td>
                            </tr>
                           {% else %}
                        <tr><td>{{data['resources']['resource_repository_name']}} ({{data['resources']['resource_repository_platform']}})</td><td>{{sync['job_status']}}</td><td>{{sync['job_cron_string']}}<td>{{sync['sync_date']}}</td>
                            <td>
                            <form id="exec_job" action="/exec/{{data['project_id']}}/{{sync['job_id']}}" method="post">
                            <input type="hidden" name="job_id" value={{sync['job_id']}}>
                            <input type="submit" value="Sync Translation Now">
                            </form>
                            </td>
                            </tr>
                           {% end %}
                         {% else %}
                         <tr><td colspan="5">Unknown job class: {{sync['job_class_name']}}</td></tr> 
                        {% end %}        
                    {% end %}        
                </table>
            <h2>Translation Status</h2>
                <p>
                <table id="logs">
                    <tr><th rowspan="2">Resource</th><th colspan="2">Language Translation Status</th></tr>
                    <tr><th>Completed</th><th>In Progress</th></tr>
                    {% if data['resources'] %}
                        {% for r in data['resources']['resources'] %}
                            {% if r['completed_languages'] %} 
                                {% set comp = ','.join(r['completed_languages']) %}
                            {% else %}
                                {% set comp = "(None)" %}
                            {% end %}
                            {% if r['in_progress_languages'] %} 
                                {% set wip = ','.join(r['in_progress_languages']) %}
                            {% else %}
                                {% set wip = "(None)" %}
                            {% end %}
                            <tr><td>{{r['path']}}</td><td>{{comp}}</td><td>{{wip}}</td></tr>
                        {% end %}
                    {% end %}
                </table>
                </p>
        </div>
    </body>
</html>
                                       
