table, th, td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

table#logs th {
    color: Black;
    background-color: Silver;
}

table#logs tr:nth-child(even) {
    background-color: WhiteSmoke;
}

table#jobs th {
    color: Black;
    background-color: Silver;
}

table#jobs tr:nth-child(even) {
    background-color: WhiteSmoke;
}

