{# Displays list of jobs. #} 
{# Expecting parameters #}
{#      slugs        list of slug info in dictionary. #}
{#                  {
{#                  'path':         resource file path.
{#                  'slug':         slug of the resource file.
{#                  'exists':       True when slug exists in Translation repository.
{#                  'name':         Name of the resource in Translation repository.
{#                  } #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Resource Slug Listings</h1>
            <p>
            <table id="logs">
                <tr><th>Exists</th><th>Path</th><th>Slug</th><th>Name</th></tr>
                {% for x in slugs %}
                    {% if x['exists'] %}
                    <tr><td>YES</td><td>{{x['path']}}</td><td>{{x['slug']}}</td><td>{{x['name']}}</td></tr>
                    {% else %}
                    <tr><td>NO</td><td>{{x['path']}}</td><td>{{x['slug']}}</td><td>{{x['name']}}</td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
