{# Displays list of jobs. #} 
{# Expecting parameters #}
{#      path        path of log file. #}
{#      data        list of lines in the log file. #} 
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Log</h1>
            <p>
            <table id="logs">
                <tr><th>Path</th><td>{{path}}</td></tr>
            </table>
            </p>
            <p>
            <table id="logs">
                {% for i in range(0, len(data)) %}
                <tr><td>{{i}}:</td><td>{{data[i]}}</td></tr>
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
