{# Displays list of projects.       #}
{# Expecting parameters             #}
{#      data     List of project.   #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Project Listings</h1>
            <p>
            <table id="logs">
                <tr><th>Status</th><th>Id</th><th>Name</th><th>Description</th></tr>
                    {% for p in data %}
                        {% set param = urllib.quote(p['id'], safe='') %}
                        <tr><td>{{p['status']}}</td><td><a href="/project/{{param}}/details">{{p['id']}}</a></td><td>{{p['name']}}</td><td>{{p['description']}}</td></tr>
                    {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
