{# Displays Resource Configuration  page.   #}
{# Expecting parameters #}
{#      data #} 
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Resource Configuration</h1>
            <h2>Configuration File</h2>
            <p>
            <table id="logs">
                <tr><th>Path</th><td>{{data['path']}}</td></tr>
            </table>
            </p>
            <h2>Repository</h2>
            <p>
            <table id="logs">
                <tr><th>Platform</th><td>{{data['repository_platform']}}</td></tr>
                <tr><th>URL</th><td>{{data['repository_url']}}</td></tr>
                <tr><th>Owner</th><td>{{data['repository_owner']}}</td></tr>
                <tr><th>Name</th><td>{{data['repository_name']}}</td></tr>
                <tr><th>Branch</th><td>{{data['repository_branch']}}</td></tr>
            </table>
            </p>
            {% set n = len(data['resources']) %}
            <h2>Resources ({{n}})</h2>
            <p>
            <table id="logs">
                <tr><th>Path</th></tr>
                {% for x in data['resources'] %}
                    <tr><td>{{x['path']}}</td></tr>
                {% end %}
            </table>
            </p>
            <h2>Translations</h2>
            {% for x in data['resources'] %}
            <p>
            <table id="logs">
                {% set n = len(x['translations']) %}
                <tr><th>{{x['path']}} ({{n}})</th></tr>
                {% for y in x['translations'] %}
                    {% for k, v in y.items() %}
                    <tr><td>{{v}} ({{k}})</td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
            {% end %}
            <h2>Pull Request</h2>
            <p>
            <table id="logs">
                <tr><th>Title</th><td>{{data['pullrequest']['title']}}</td></tr>
            </table>
            </p>
            <h3>Reviewers</h3>
            <p>
            <table id="logs">
                <tr><th>Username</th></tr>
                {% for x in data['pullrequest']['reviewers'] %}
                <tr><td>{{x}}</td></tr>
                {% end %}
            </table>
            </p>
            <h2>Options</h2>
            <p>
            <table id="logs">
                <tr><th>Name</th><th>Value</th></tr>
                {% for x in data['options'] %}
                    {% for k, v in x.items() %}
                    <tr><td>{{k}}</td><td>{{v}}</td></tr>
                    {% end %}
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
