{# Displays list of projects. #}
{# Expecting parameters  #}
{#      data       List of source string details #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Source String Details</h1>
            <p>
            <table id="logs">
                <tr><th>Source</th><th>Comment</th><th>Tags</th></tr>
                    {% for x in data %}
                        {% set tags = ','.join(x['tags']) %}
                    <tr><td>{{x['source']}}</td><td>{{x['comment']}}</td><td>{{tags}}</td></tr>
                    {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
