{# Displays Resource Configuration page.                    #}
{# Expecting parameters                                     #}
{#      data            Translation configuration context.  #} 
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Translation Configuration</h1>
            <h2>Configuration File</h2>
            <p>
            <table id="logs">
                <tr><th>Path</th><td>{{data['path']}}</td></tr>
            </table>
            </p>
            <h2>Translation Repository</h2>
            <p>
            <table id="logs">
                <tr><th>Platform</th><td>{{data['project_platform']}}</td></tr>
                <tr><th>Project Name</th><td>{{data['project_name']}}</td></tr>
            </table>
            </p>
            <h2>Resource Repositories</h2>
            <p>
            <table id="logs">
                <tr><th>Platform</th><th>Owner</th><th>Name</th></tr>
                {% for x in data['project_repositories'] %}
                <tr><td>{{x['platform']}}</td><td>{{x['owner']}}</td><td>{{x['name']}}</td></tr>
                {% end %}
            </table>
            </p>
            <h3>Reviewers</h3>
            <p>
            <table id="logs">
                <tr><th>Username</th></tr>
                {% for x in data['project_reviewers'] %}
                <tr><td>{{x}}</td></tr>
                {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
