{# Displays list of projects.                       #}
{# Expecting parameters                             #}
{#      platform        Translation platform name.  #}
{#      projects        List of project.            #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Translation Project Listings</h1>
            <p>
            <table id="logs">
                <tr><th>Slug (Nameg)</th><th>Description</th></tr>
                    {% for o in projects %}
                        {% set param1 = urllib.quote(platform, safe='') %}
                        {% set param2 = urllib.quote(o['slug'], safe='') %}
                        <tr><td><a href="/translation/{{param1}}/project/{{param2}}/details">{{o['slug']}}</a> ({{o['name']}})</td><td>{{o['description']}}</td></tr>
                    {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
