{# Displays list of projects.                           #}
{# Expecting parameters                                 #}
{#      data       List of translation string details.  #}
<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA System Manager</title>
    </head>
    <body>
        <div id="body">
            <h1>Translation String Details</h1>
            <p>
            <table id="logs">
                <tr><th>Key</th><th>Reviewed</th><th>Updated on</th><th>Source</th><th>Translation</th></tr>
                    {% for x in data %}
                    {# {% set param1 = urllib.quote(platform, safe='') %} #}
                    {# {% set param2 = urllib.quote(o['slug'], safe='') %} #}
                    {# <tr><td><a href="/translation/{{param1}}/project/{{param2}}/details">{{o['name']}}</a> ({{o['slug']}})</td><td>{{o['description']}}</td></tr> #}

                    <tr><td>{{x['key']}}</td><td>{{x['reviewed']}}</td><td>{{x['last_updated']}}</td><td>{{x['source']}}</td><td>{{x['translation']}}</td></tr>
                    {% end %}
            </table>
            </p>
        </div>
    </body>
</html>
                                       
