<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA Job Details</title>
    </head>
    <body>
        <div id="body">
            [<a href="http://localhost:8080/">index</a>] | [<a href="http://localhost:8080/jobs">jobs</a>]
            <h1>{{job.name}}</h1>
            <h2>Job Details</h2>
            <table>
                <tr><td>Name</td><td>{{job.name}}</td></tr>
                <tr><td>Description</td><td>{{job.description}}</td></tr>
                <tr><td>Status</td><td>{{job.status}}</td></tr>
                <tr><td>Scheduled at</td><td>n/a</td></tr>
                <tr><td>Resource Config File</td><td>{{job.resource_config_filename}}</td></tr>
                <tr><td>Translation Config File</td><td>{{job.translation_config_filename}}</td></tr>
            </table>
            <hr>


            <h2>Recent Results</h2>
            [<a href="http://localhost:8080/run/{{job.id}}">Execute job now</a>]

            {% if job.class_name == 'ResourceUploaderJob' %}
            <table id="logs">
                <tr><th>Date</th><th>Status</th></tr>
                {% for log in logs %}
                {% set param = urllib.quote(log.log_dir, safe='') %}
                    <tr><td>{{log.datetime}}</td><td><a href="http://localhost:8080/log/{{param}}">{{log.status}}</a></td></tr>
                {% end %}
            </table>
            {% end %}

            {% if job.class_name == 'TranslationUploaderJob' %}
            <table id="logs">
                <tr><th>Date</th><th>Status</th></tr>
                {% for log in logs %}
                {% set param = urllib.quote(log.log_dir, safe='') %}
                    <tr><td>{{log.datetime}}</td><td><a href="http://localhost:8080/log/{{param}}">{{log.status}}</a></td></tr>
                {% end %}
            </table>
            {% end %}
        </div>
    </body>
</html>
                                       
