<!DOCTYPE html>
{% import urllib %}
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ static_url("css/tpa.css") }}" rel="stylesheet" type="text/css">
        <title>TPA Jobs</title>
    </head>
    <body>
        <div id="body">
            [<a href="http://localhost:8080/">index</a>]
            <h1>TPA Jobs</h1>
            <h2>Active Jobs</h2>
            <table id="jobs">
                <tr><th>Name</th><th>Status</th><th>Exec Date</th><th>Resource Config File</th><th>Translation Config File</th></tr>
                {% for job in jobs %}
                    {% if job.status == 'active' %}
                        {% if job.class_name == 'ResourceUploaderJob' or job.class_name == 'TranslationUploadJob' %}
                            {% set param = urllib.quote(job.id, safe='') %}
                            <tr><td><a href="http://localhost:8080/job/{{param}}">{{job.name}}</a></td><td>{{job.last_exec_status}}</td><td>{{job.last_exec_datetime}}</td><td>{{job.resource_config_filename}}</td><td>{{job.translation_config_filename}}</td></tr>
                        {% else %}
                            <tr><td><a href="http://localhost:8080/job/{{param}}">{{job.name}}</a></td><td>{{job.last_exec_status}}</td><td>{{job.last_exec_datetime}}</td><td>n/a</td><td>n/a</td></tr>
                        {% end %}
                    {% end %}
                {% end %}
            </table>
            <h2>Suspened Jobs</h2>
            <table id="jobs">
                <tr><th>Name</th><th>Status</th><th>Exec Date</th><th>Resource Config File</th><th>Translation Config File</th></tr>
                {% for job in jobs %}
                    {% if job.status == 'suspended' %}
                        {% if job.class_name == 'ResourceUploaderJob' or job.class_name == 'TranslationUploadJob' %}
                            {% set param = urllib.quote(job.id, safe='') %}
                            <tr><td><a href="http://localhost:8080/job/{{param}}">{{job.name}}</a></td><td>{{job.last_exec_status}}</td><td>{{job.last_exec_datetime}}</td><td>{{job.resource_config_filename}}</td><td>{{job.translation_config_filename}}</td></tr>
                        {% else %}
                            <tr><td><a href="http://localhost:8080/job/{{param}}">{{job.name}}</a></td><td>{{job.last_exec_status}}</td><td>{{job.last_exec_datetime}}</td><td>n/a</td><td>n/a</td></tr>
                        {% end %}
                    {% end %}
                {% end %}
            </table>
        </div>
    </body>
</html>
                                       
